/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
   font-family: "thrones";
   src: url('game_of_thrones.ttf') format("truetype");
 }

body {
  background-color: #232423;
  color: #fff;
  display: flex;
  font-family: "thrones", Georgia, serif;
}
a {
  display: inline;
  text-decoration: none;
  color: #fff;
  display: flex;
}
li {
  display: inline-block;
  /*display: flex;*/
}
.house-name {
  text-align: center;
}
h2 {
  text-align: center;
}
h4 {
  text-align: center;
  background-color: #B2B3B2;
  padding: 10px;
  color: #222422;
}
main {
  justify-content: center;
  align-items: center;
}
img {
  margin: 20px;
  display: inline;
  justify-content: center;
}
