<main>
<ul>
<% @houses.each do |house| %>
<li>
  <h2 class="house-name"><%= house.name %></h2>
  <a href="/houses/<%= house.id %>">
    <div class="sigil" style="background: url(<%= house.sigil %>); background-size:cover; background-position: center;"></div>
  </a>
  <h4><%= house.motto %></h4>
</li>
<% end %>
</ul>
</main>
